<!-- EDIT PASSWORD FORM BEGIN -->
<div class="edit_password_container">
  <h2>Edit your password</h2>
  <form method="POST" action="/api/passwords/">
    <!-- Hidden input field to send password ID from form -->
    <input type="hidden">
    <!-- Hidden input field to send password ID from form -->
    <div class="form_group form-floating">
      <input type="text" id="floatingInput" name="website" class="form-control" required="true">
      <label for="floatingInput">Website</label>
    </div>
    <div class="form_group form-floating">
      <input type="text" name="name" id="floatingInput" class="form-control" required="true">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form_group">
      <select name="categories" class="form-select" required="true"></select>
        <option value="" selected="selected" disabled hidden>Pick your category</option>
        <option value="1">Business</option>
        <option value="2">Entertainment</option>
        <option value="3">Social</option>
        <option value="4">News</option>
      </select>
    </div>
    <div class="form_group form-floating">
      <input id="floatingInput" type="text" name="login" class="form-control" required="true">
      <label for="floatingInput">Log in</label>
    </div>
    <div class="form_group form-floating">
      <input type="password" name="password" class="form-control" required="true" autocomplete="off">
      <label for="password">Password</label>
    </div>
    <div class="form_btns">
      <button type="submit" class="btn btn-primary save_btn">Save</button>
      <button type="button" class="btn btn-danger cancel_btn">Cancel</button>
    </div>
  </form>
</div>
<!-- EDIT PASSWORD FORM END -->
