<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <!-- PASSWORDS CONTAINER BEGIN -->
    <div id="passwords_container">
      <div class="personal_passwords_container">
        <h2>Your personal passwords</h2>
        <table width="100%" style="padding: 10px; border: 1px solid black">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="list_of_passwords">
            <tr>
              <td id="password_name">netflix.com</td>
              <td id="password_category">Film & Entertainment</td>
              <td id="password_edit_btn">
                <form action="POST" action="/passwords/:id/edit">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </form>
              </td>
              <td id="password_delete_btn">
                <form action="POST" action="/passwords/:id">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- PERSONAL PASSWORDS END -->

      <!-- ORGANIZATION PASSWORDS START -->

      <div class="organization_passwords_container">
        <h2>Your organization's passwords</h2>
        <table width="100%" style="padding: 10px; border: 1px solid black">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody class="list_of_passwords">
            <tr>
              <td id="password_name">netflix.com</td>
              <td id="password_category">Film & Entertainment</td>
              <td id="view_btn">
                <form action="POST" action="/passwords/:id">
                  <button type="submit" class="btn btn-primary">View</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- PASSWORDS CONTAINER END -->
  </body>
</html>
