<!-- LOG IN CONTAINER BEGIN -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Lottie -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  </head>
  <body id="login">
    <div class="login_left">
      <h1>Another<span>key</span></h1>
      <!-- <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1126.79 184.4"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M-311.4,543.8H-276l53.8,148.8h-36l-9.4-28.4h-54l-9.2,28.4H-365Zm-2.2,96h38.2l-9-27.8q-2.4-7.61-4.2-14.7t-3-12.7Q-293,578-294,572.4h-.4q-1.61,7.4-3.2,14.4-1.61,6-3.3,12.9t-3.5,12.3Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M-179,602.4h.6A34.43,34.43,0,0,1-165.1,588a38.25,38.25,0,0,1,19.5-4.8q17.6,0,27.3,10.7t9.7,28.7v70h-31.2v-64q0-8.8-4.5-14.1t-13.3-5.3a18.44,18.44,0,0,0-14.8,6.6q-5.61,6.6-5.6,16.8v60h-31.4V586.2H-179Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M-37.2,696a60.27,60.27,0,0,1-23.2-4.3,52.41,52.41,0,0,1-17.8-11.9,52.48,52.48,0,0,1-11.4-17.9,61,61,0,0,1-4-22.3,61,61,0,0,1,4-22.3,52.48,52.48,0,0,1,11.4-17.9,52.41,52.41,0,0,1,17.8-11.9,60.09,60.09,0,0,1,23.2-4.3,59.6,59.6,0,0,1,23,4.3A51.51,51.51,0,0,1,3.5,599.4a53.62,53.62,0,0,1,11.3,17.9,61.22,61.22,0,0,1,4,22.3,61.22,61.22,0,0,1-4,22.3A53.62,53.62,0,0,1,3.5,679.8a51.51,51.51,0,0,1-17.7,11.9A59.79,59.79,0,0,1-37.2,696Zm-.2-22.8q11.79,0,18.1-9.3t6.3-24.3q0-15.2-6.3-24.6t-18.1-9.4q-12,0-18.2,9.4t-6.2,24.6q0,15,6.2,24.3T-37.4,673.2Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M26.4,586.2h16v-34H73.2v34H94v20H73.2V659q0,6,3.1,8.1t8.7,2.1c1.06,0,2.26,0,3.6-.1s2.53-.17,3.6-.3h1.6v23.4q-2.61.4-7.2,1a86.68,86.68,0,0,1-11,.6,65.25,65.25,0,0,1-13.5-1.3,26.43,26.43,0,0,1-10.5-4.6,21.7,21.7,0,0,1-6.8-8.6q-2.4-5.29-2.4-13.5V606.2h-16Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M141.8,586.8v4c0,1.6,0,3.33-.1,5.2s-.1,3.67-.1,5.4h.6A35.35,35.35,0,0,1,155,588q8-4.8,19.2-4.8,17.6,0,27.3,10.7t9.7,28.7v70H180v-64q0-8.8-4.5-14.1t-13.3-5.3a18.44,18.44,0,0,0-14.8,6.6q-5.61,6.6-5.6,16.8v60H110.4V543.8h31.4v43Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M282.39,695.8a60.84,60.84,0,0,1-23.4-4.3,51.51,51.51,0,0,1-17.7-11.9,52.39,52.39,0,0,1-11.2-17.8,61.66,61.66,0,0,1-3.9-22.2,61,61,0,0,1,4-22.3,54.35,54.35,0,0,1,11.2-17.9,51.28,51.28,0,0,1,17.2-11.9,59.8,59.8,0,0,1,42.7-.7,51.88,51.88,0,0,1,16.1,10,52.46,52.46,0,0,1,13.2,21.8,89.71,89.71,0,0,1,4,28.8H257q1.61,12,8,18.8t17.8,6.8q7.4,0,12.1-2.7a18.53,18.53,0,0,0,7.3-7.7h30.4a43,43,0,0,1-6.3,13.1,44.45,44.45,0,0,1-10.6,10.6,49.31,49.31,0,0,1-14.7,7A65.28,65.28,0,0,1,282.39,695.8Zm-1.6-90.4q-10.8,0-16.4,6.4t-7.2,17.4h45.4Q301.8,618,296,611.7T280.79,605.4Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M380.59,605.2h.6q5.21-11.21,12.4-16a30.28,30.28,0,0,1,17.2-4.8q4.8,0,6.6.8v27.4h-.8a38,38,0,0,0-6.6-.6q-12.8-.19-20.5,7.7t-7.7,23.5v49.4h-31.4V586.2h30.2Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M478.19,646.2l-10.6,11v35.4h-31V543.8h31v46.4q0,11.81-.3,20.4t-.7,13.8l35-38.2H538l-38,39.4,42.4,67H506Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M597.79,695.8a60.84,60.84,0,0,1-23.4-4.3,51.42,51.42,0,0,1-17.7-11.9,52.39,52.39,0,0,1-11.2-17.8,61.66,61.66,0,0,1-3.9-22.2,61,61,0,0,1,4-22.3,54.18,54.18,0,0,1,11.2-17.9A51.28,51.28,0,0,1,574,587.5a59.8,59.8,0,0,1,42.7-.7A47.69,47.69,0,0,1,646,618.6a89.71,89.71,0,0,1,4,28.8h-77.6q1.61,12,8,18.8t17.8,6.8q7.39,0,12.1-2.7a18.53,18.53,0,0,0,7.3-7.7H648a43.28,43.28,0,0,1-6.3,13.1,44.45,44.45,0,0,1-10.6,10.6,49.31,49.31,0,0,1-14.7,7A65.28,65.28,0,0,1,597.79,695.8Zm-1.6-90.4q-10.8,0-16.4,6.4t-7.2,17.4H618q-.79-11.21-6.6-17.5T596.19,605.4Z" transform="translate(365 -543.8)"/><path class="cls-1" d="M685,728.2h-3.6c-2.13,0-4.47,0-7-.1l-7-.2-3.4-.1V703.2h1.6c.13,0,.7,0,1.7.1s2.1.1,3.3.1h5.2q14.21,0,15.2-10.8a39.77,39.77,0,0,0-1.4-8.5,104.63,104.63,0,0,0-4.2-12.9l-33-85h33L699,627q1.8,5.4,3.4,11.9t2.8,12.1q1.39,6.6,2.6,13h.4q1.39-6.6,3-13.2,1.39-5.59,3-12t3.4-11.8l13-40.8h31.2l-38,109a93.07,93.07,0,0,1-6.8,15.5,37.65,37.65,0,0,1-8.2,10.2,28.25,28.25,0,0,1-10.4,5.6A47.89,47.89,0,0,1,685,728.2Z" transform="translate(365 -543.8)"/></svg> -->
      <lottie-player src="https://assets5.lottiefiles.com/temp/lf20_QIBGGu.json" background="transparent"  speed="0.2"  style="width: 900px; height: 900px; align-self: center;" autoplay loop></lottie-player>
    </div>

    <div class="login_right">
      <form class="login_form" method="POST" action="/api/user/login" class="form-group">
        <span>Welcome back!</span>
        <h2>Log in to Sitename</h2>
        <div class="form-floating">
          <input id="floatingEmail" type="email" name="email" placeholder="Enter your e-mail" class="form-control" required="true" autofocus/>
          <label for="floatingEmail" style="color: grey">Email address</label>
        </div>
        <% if (error) { %>
          <span style="font-weight: bolder; text-align: left; font-size: 12px; color: red; width: 100%; margin-top: 1em;"><%=error%></span>
        <% } %>
        <button type="submit" class="btn btn-secondary btn-lg">Log In</button>
      </form>
    </div>
  </body>
</html>

<!-- LOG IN CONTAINER END -->
