@font-face {
  font-family: 'Whyte';
  src: url('/assets/fonts/ABCWhyteInktrap-Regular-Trial.otf');
}

@font-face {
  font-family: 'Whyte Bold';
  src: url('/assets/fonts/ABCWhyteInktrap-Bold-Trial.otf')
}
