@font-face {
  font-family: 'Kobe Regular';
  src: url('/assets/fonts/Kobe1.1-Regular.woff');
}

@font-face {
  font-family: 'Kobe Bold';
  src: url('/assets/fonts/Kobe1.1-Bold.woff')
}

@font-face {
  font-family: 'Whyte';
  src: url('/assets/fonts/ABCWhyteInktrap-Regular-Trial.otf')
}

@font-face {
  font-family: 'Whyte Bold';
  src: url('/assets/fonts/Kobe1.1-Bold.woff')
}

@font-face {
  font-family: 'Neue Haas Unica Regular';
  src: url('/assets/fonts/Neue\ Haas\ Unica\ W06\ Regular.ttf')
}
@font-face {
  font-family: 'Neue Haas Unica Bold';
  src: url('/assets/fonts/Neue\ Haas\ Unica\ W06\ Bold.ttf')
}

@font-face {
  font-family: 'Cardinal Fruit';
  src: url('/assets/fonts/cardinalfruit-regular-TRIAL.otf')
}

