//General styles

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(249, 249, 242) !important;
  position: relative;

  &:div {
    padding: 10em;
  }

}

.intro_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  overflow: hidden;
  color: $cream;
}


h1, h2, h3, h4, button, .btn-primary, .btn-secondary, .btn-dark, .btn-danger, h1 span {
  font-family: $fontBold;
}

button {
  transition: $transition;
}

p, span, label, h6, .password_buttons button {
  font-family: $font;
}

.btn-outline-secondary {
  border: 0.3px solid $grey;
  &:hover {
    background-color: $dark;
  }
}

.btn-dark {
  background-color: $dark;

  &:hover {
    opacity: 0.7;
    transition: 500ms ease;
  }
}


h2, h2, h3, h4, h5, h6, p, span {
  color: $dark;
}
