// See: https://sass-lang.com/

body,
html {
  overflow-x: hidden;
  margin: 0;
}

//Login page layout

#login {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  overflow: hidden;

  .login_left {
    background-size: 180%;
    height: 100vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 3em;
    background: $gradient;

    h1 {
      z-index: 999;
      align-self: flex-start;
    }

    lottie-player {
      width: 60vw !important;
      height: 60vw !important;

    }

  }

  .login_right{
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    button {
      border: 0px;
      transition: 400ms ease;
      box-shadow: $shadow;
      background: $dark;

      &:hover {
        opacity: 0.7;
      }
    }


    form {
      width: 400px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 3em 2em;
    }

    input, label, button {
      margin-top: 1em;
    }

    button {
      width: 100%;
    }
  }

}

