//Import fonts

//Custom styles
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(250, 250, 248) !important;

  &:div {
    padding: 10em;
  }

}

.form-floating {
  width: 100%;
}

#login {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .login_left {
    background-color: #d9e6e9;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .login_right{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    form {
      box-shadow: 0 0px 25px 0 rgba(74, 74, 74, 0.2);
      width: 400px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 3em 2em;
    }

    input, label, button {
      margin-top: 1em;
    }

    button {
      width: 100%;
    }
  }

}

@media screen and (max-width: 1000px) {
  #login {
    flex-direction: column-reverse;

    .login_left, .login_right {
      width: 100%;
    }

  }
}


h1, h2, h3, button {
  font-family: 'Whyte Bold';
}

nav {
  background-color: rgb(250, 250, 248);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 4.5em;
  margin-top: 10rem;


  .personal_passwords_container, .organizations_passwords_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .is_empty_msg {
    align-self: center;
    text-align: center;
  }

  tbody tr {
    border-top: 1px solid rgb(186, 186, 186);
    border-bottom: 1px solid rgb(186, 186, 186);

    td {
      padding: 1em 0;
      text-transform: capitalize;
    }
  }

  .create_new_password  {
    border: 0px;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
    background: linear-gradient(#7C99FF, #41CB99);
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
    transition: 500ms ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

#visit_website a {
  text-decoration: none;
  color: white;
  background-color: #6c757d;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: 300ms ease;

  &:hover {
    opacity: 0.7;
  }
}

.create_new_password_container, .edit_password_container {
  transition: 500ms ease;
  opacity: 0;
  transform: translateX(100%);
  backdrop-filter: blur(50px);
  border-left: 0.1rem solid #82878c;
  height: 100vh;
  width: 30rem;
  padding: 4em;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form_group {
    width: 100%;
  }


  form {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    label {
      margin-bottom: 0.4em;
    }

    .form-group {
      width: 100%;
    }

    .form_btns {
      align-self: flex-end;
    }
  }
}

.in_view {
  transition: 500ms ease;
  opacity: 1;
  transform: translateX(0%);
}
