.viewport_overlay {
  background-color: black;
}


.form-floating {
  width: 100%;
}


@media screen and (max-width: 1000px) {
  #login {
    flex-direction: column-reverse;
  }
  .login_left, .login_right {
    width: 100% !important;
  }
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 2.5em;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  color: $cream;

  div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  lottie-player {
    width: 4rem !important;
    height: 4rem !important;
    z-index: 99999 !important;
  }


  .background {
   background: $gradient;
   background-size: 400% 400%;
   background-position: top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .nav_right {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;

    form {
      width: 100%;
      margin: 0 !important;

      button {
        width: 100%;
        display: block;
      }

    }


  }

}

.viewport_overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  transition: 500ms ease;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 4.5em;
  margin-left: 350px;
  max-width: 1665px;

  .personal_passwords_container, .organization_passwords_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .organization_passwords_container {
    margin-top: 5rem;
  }

  .is_empty_msg {
    align-self: center;
    text-align: center;
  }

  .create_new_password  {
    border: 0px;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
    background: $gradient;
    background-size: 300% 300%;
    background-position: top;
    box-shadow: $shadow;
    z-index: 99999;
    transition: opacity 500ms ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

#visit_website a {
  text-decoration: none;
  color: $cream;
  background-color: #6c757d;
  padding: .8rem .9rem;
  border-radius: .25rem;
  transition: 300ms ease;

  &:hover {
    opacity: 0.7;
  }
}

.create_new_password_container, .edit_password_container {
  opacity: 0;
  transform: translateX(100%);
  background: $cream;
  height: 100vh;
  width: 40rem;
  max-width: 100vw;
  padding: 5rem;
  box-shadow: $shadow;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    align-self: flex-start;
    margin-bottom: auto;
    width: 100%;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin: auto;
    }

  }


  .form_group {
    width: 100%;
  }


  form {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;

    label {
      margin-bottom: 0.4em;
    }


    .form-group {
      width: 100%;
    }

    .form_btns {
      align-self: flex-end;
      transform: translateY(2em);
    }

    .password-options {
      display: flex;
    }

    .password-toggles {
      margin-left: 2%;
    }

    .full-width {
      display: block;
      width: 100%;
      margin-top: 5%;
    }

    .org-toggle {
      transform: translateY(4em);
    }
  }
}
