.viewport_overlay {
  background-color: black;
}

//Custom styles
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(249, 249, 242) !important;
  position: relative;

  &:div {
    padding: 10em;
  }

}

.form-floating {
  width: 100%;
}


@media screen and (max-width: 1000px) {
  #login {
    flex-direction: column-reverse;
  }
  .login_left, .login_right {
    width: 100% !important;
  }
}


h1, h2, h3, h4, button, .btn-primary, .btn-secondary, .btn-dark, .btn-danger {
  font-family: $fontBold;
}

h1, h2 {
  text-transform: uppercase;
}

h2, h2, h3, h4, h5, h6, p, span {
  color: rgb(55, 55, 55);
}




nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  padding: 2.5em;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;


  .background {
    background-color: $main;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .nav_right {
    border-top: .4px solid rgb(210, 206, 206);
    padding-top: 10px;
    width: 100%;

    button {
      margin-right: auto;
      display: block;
    }

  }

}

.viewport_overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  transition: 500ms ease;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5em 4.5em;
  margin-left: 350px;

  .personal_passwords_container, .organization_passwords_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .organization_passwords_container {
    margin-top: 5rem;
  }

  .is_empty_msg {
    align-self: center;
    text-align: center;
  }

  tbody tr {
    border-top: 1px solid rgb(210, 206, 206);
    border-bottom: 1px solid rgb(210, 206, 206);

    td {
      padding: 1em 0;
      text-transform: capitalize;
    }
  }

  .create_new_password  {
    border: 0px;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
    background: $gradient;
    box-shadow: $shadow;
    z-index: 99999;
    transition: opacity 500ms ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

#visit_website a {
  text-decoration: none;
  color: $cream;
  background-color: #6c757d;
  padding: .8rem .9rem;
  border-radius: .25rem;
  transition: 300ms ease;

  &:hover {
    opacity: 0.7;
  }
}

.create_new_password_container, .edit_password_container {
  opacity: 0;
  transform: translateX(100%);
  background: $cream;
  height: 100vh;
  width: 30rem;
  padding: 4em;
  box-shadow: $shadow;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    align-self: flex-start;
    margin-bottom: auto;
  }

  .form_group {
    width: 100%;
  }


  form {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;

    label {
      margin-bottom: 0.4em;
    }


    .form-group {
      width: 100%;
    }

    .form_btns {
      align-self: flex-end;
      transform: translateY(2em);
    }

    .password-options {
      display: flex;
    }

    .password-toggles {
      margin-left: 2%;
    }

    .full-width {
      display: block;
      width: 100%;
      margin-top: 5%;
    }

    .org-toggle {
      transform: translateY(4em);
    }
  }
}
