
.hidden_info {
  display: none;
}


.password_list {

  width: 100%;
  height: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 1.5rem;
  justify-items: center;
  padding: 0;



  li {
    margin-right: 2em;
    margin-top: 2em;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: $shadow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1em;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/24/08/23/lock-4573711_1280.png) !important;


    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .hidden {
      opacity: 0;
      transition: 500ms ease;

      form {
        display: inline;
      }

      h3 {
        z-index: 3;
        color: white;
        text-transform: capitalize;
      }

    }

    .overlay {
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .password_buttons {
      z-index: 2;

      button {
        font-size: 1rem;
        background: none;
        border-radius: 5px;
        border: 0px;
        color: $cream;
        position: relative;
        transition: 500ms ease;


        &::after {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          background-color: $cream;
          content: '';
          opacity:  0;
          transition: $transition;
          transform: scaleX(0);
          transform-origin: left;
        }

        &:hover::after {
          opacity: 1;
          transform: scaleX(1);
        }

      }


    }

  }
}


//Mobile friendly nav/layout
@media screen and (max-width: 930px) {
  nav {
    width: 100%;
    height: 4em;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
    }

    .nav_right {
      width: auto;
      flex-direction: row;
      padding: 0;
    }

  }

  .content-wrapper {
    margin-left: 0;
    padding: 6em 3em;

    .personal_passwords_container, .organization_passwords_container {
      align-items: center;

      .password_list {
        justify-content: center !important;
        align-items: center !important;

        li {
          margin-left: 0;
          margin-right: 0;
        }

      }

    }


  }

  .nav_right {
    border-top: 0px !important;
    justify-content: space-around !important;
  }
}
