table {
  display: none !important;
}

.password_list {

  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;


  li {
    margin-right: 2em;
    margin-top: 2em;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1em;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/24/08/23/lock-4573711_1280.png) !important;

    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .hidden {
      opacity: 0;
      transition: 500ms ease;

      form {
        display: inline;
      }

      h3 {
        z-index: 3;
        color: white;
        text-transform: capitalize;
      }

    }

    .overlay {
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .password_buttons {
      z-index: 2;

      button {
        background: none;
        border-radius: 5px;
        border: 0px;
        color: white;
        position: relative;
        transition: 500ms ease;

        &::after {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          background-color: white;
          content: '';
          opacity:  0;
          transition: 500ms ease;
        }

        &:hover::after {
          opacity: 1;
        }

      }


    }

  }
}
