//Sass variables

$dark: rgb(49, 51, 52);
$grey: rgb(211, 211, 211);
$cream: rgb(249, 249, 242);
$main: #bbd1d5;
$gradient: linear-gradient(#E18771, #C29DC0, #8DB4D2, #65CEA8, #4B83A4, #80639B, #C75A6C);
$shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
$font: 'Whyte';
$fontBold: 'Neue Haas Unica Bold';
$transition: 500ms ease;
