//Sass variables

$dark: rgb(39, 39, 39);
$cream: rgb(249, 249, 242);
$main: #bab2e4;
$gradient: linear-gradient(#8F7CFF, #41CB99);
$shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
$font: 'Kobe Regular';
$fontBold: 'Kobe Bold';
