//Sass variables

$dark: rgb(49, 51, 52);
$grey: rgb(211, 211, 211);
$cream: rgb(249, 249, 242);
$main: #bbd1d5;
$gradient: linear-gradient(#8F7CFF, #41CB99);
$shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
$font: 'Whyte';
$fontBold: 'Whyte Bold';
$transition: 500ms ease;
