// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

.create_new_password_container {
  background-color: white;
  height: 100vh;
  width: 60rem;
  padding: 4em;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);


  form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .form_btns {
      align-self: flex-end
    }
  }

}
